html{
    margin: 0;
}
#zuri-team{
    margin-top: 60px;
    margin-left: 45%;
}
.team1{
    background-image: url(team-image/hero-bg.svg);
    padding-bottom: 200px;
}
.team1 h2{
    margin-top: 90px;
    text-align: center;
    font-size: 35px;
    font-family: Times;
    color: rgba(31, 28, 28, 0.788);
}
#teamtalk{
    width: 50%;
    text-align: center;
    font-size: 18px;
    font-family: times;
}
.team1 div{
    margin-top: 60px;
    display: inline-flex;
    justify-content: space-around;
    margin-left: 32%;
}
#expr{
    padding: 10px 20px;
    font-size: 18px;
    margin-right: 10px;
    color: white;
    background-color: red;
}
#expr1{
    padding: 10px 25px;
    font-size: 18px;
    margin-left: 20px;
    color: red;
    border-style: solid;
}
#teamtalk a{
    text-decoration: none;
    color: red;
}
.team1 div a{
    text-decoration: none;
    color: inherit;
}
.team1 #expr1 a:hover{
    color: none;
}
#expr:hover{
color: red;
background-color: transparent;
border-style: solid;
transition: 0.5s;
}
#expr1:hover{
    color: white;
    background-color: red;
    transition: 0.5s;
}.team2{
    margin-top: 100px;
}
.team2 h6{
    text-align: center;
    color: red;
    font-size: 15px;
    margin-bottom: 0;
}
.team2 h4{
    font-size: 30px;
    color: rgba(31, 28, 28, 0.788);
    margin-left: 32%;
    margin-top: 15px;
    text-align: center;
    margin-right: 32%;
}
#leftdots{
    width: 25%;
    margin-top: -50px;
    opacity: 0.5;
} 
#rightdots{
    width: 25%;
    margin-top: -50px;
    margin-left: 50%;
    opacity: 0.5;
}
.background{
    display: flex;
}
.offers{
    margin-top: -370px;
    display: flex;
}
#training{
    display: block;
    width: 30%;
    margin: 3%;
    margin-right: 0%;
    margin-left: 5%;
    font-size: 19px;
    padding: 40px;
    padding-top: 70px;
    padding-bottom: 100px;
    background-color: rgba(216, 169, 169, 0.212);
}
#internship{
    display: block;
    width: 30%;
    margin: 3%;
    padding: 40px;
    margin-right: 0%;
    padding-top: 70px;
    font-size: 19px;
    background-color: rgba(216, 169, 169, 0.212);
}
#talent{
    display: block;
    width: 30%;
    margin: 3%;
    margin-right: 5%;
    padding: 40px;
    font-size: 19px;
    /*241968- Tade*/
    padding-top: 70px;
    background-color: rgba(216, 169, 169, 0.212);
}
#train-img{
    padding-top: 20px;
    width: 35%;
}
#intern-img{
    padding-top: 20px;
    width: 35%;
}
#talent-img{
    padding-top: 20px;
    width: 30%;
}
.offers a{
    text-decoration: none;
    color: red;
    font-size: 15px;
}
.team3{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-right: 50px;
    margin-left: 50px;
}
.team3 a{
    text-decoration: none;
    color: red;
}
#pictures{
display: inline-flex;
}
#team3logo{
    margin-left: 5%;
    margin-top: -100px;
}
.team3 ul li{
list-style-type: none;
}
.team3 li{
    color: rgba(0, 0, 0, 0.788);
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 13px;
}
#fb, #tw, #ig, #linkd{
    width: 20px;
    padding-left: -10px;
}
footer hr{
    width: 90%;
    color: rgba(31, 28, 28, 0.788);
}
footer p{
    text-align: center;
    color: rgba(31, 28, 28, 0.788);
    font-size: 15gpx;
    padding-top: 20px;
    padding-bottom: 100px;
    font-weight: bold;
}
/*Media responsiveness for phones*/
@media screen and (max-width: 600px) {
    body{
        width: 100%;
        margin: 0;
    }
    .team1{
        padding-top: 50px;
        padding-bottom: 100px;
        margin-left: 3% !important;
    }
    #zuri-team{
        width: 20%;
    }
    .team1 h2{
        font-size: 30px;
        margin-top: 70px;
        margin-bottom: 60px;
        text-align: center;
    }
    #teamtalk{
        width: 95%;
        font-size: 18px;
        text-align: center;
    }
    .team1 div{
        display: block;
        width: 60%;
    }
    #expr{
        padding: 8px 15px;
        font-size: 15px;
        margin-left: 20%;
        margin-right: 20%;
        width: 40%;
        text-align: center;
    }
    #expr1{
        margin-left: 15% !important;
        margin-right: 20% !important;
        width: 50%;
        padding: 8px 15px;
        font-size: 13px !important;
        text-align: center;
    }
    .team2{
        margin-top: 100px;
    }
    .team2 h6{
        text-align: center;
        font-size: 13px;
    }
    .team2 h4{
        font-size: 15px !important;
        margin-left: 20%!important;
        margin-right: 10%;
        text-align: center !important;
    }
    #leftdots, #rightdots{
        display: none;
    }
    .offers{
        margin-top: 0;
        justify-content: center;
        display: block;
    }
    #training, #talent, #internship{
        margin: 0;
       margin-left: 3% !important;
        width: 70%;
      margin-bottom: 40px;
        padding: 30px;
        padding-bottom: 90px;
        padding-top: 20px;
        font-size: 23px;
    }
    #train-img, #intern-img, #talent-img{
        width: 30%;
    }
    .team2 a{
        font-size: 20px;
    }
    .team3{
        display: block;
    }
    .team3 ul li{
        font-size: 15px;
        text-align:center !important;
    }
    #head{
        font-size: 25px;
    }
    #team3logo{
        margin-left: 15% !important;
        padding-left: 17.5%;
        width: 65%;
        padding-bottom: 10%;
        padding-right: 17.5%;
    }
    #fb, #tw, #ig, #linkd{
        width: 15px;
        padding: 3px;
        padding-left: 5px;
    }
    #pictures{
        margin-left: 30%;
        margin-right: 35%;
        margin-bottom: 40%;
    }
}
/*Media responsiveness for tablets*/
@media screen and (max-width: 850px){
    #teamtalk{
        text-align: center;
        width: 90%;
    }
    .team1{
        width: 100%;
        margin: 0;
    }
    .team1 div{
        margin-left: 20%;
        margin-right: 0%;
        width: 60%;
    }
    #expr{
        font-size: 15px;
        margin-right: 0;
    }
    #expr1{
        font-size: 15px;
        margin-left: 0;
    }
    .team2{
        margin-top: 150px;
        margin-right: 0;
    }
    .team2 h4{
        text-align: center;
        width: 60%;
        margin-left: 20%;
        font-size: 32px;
        margin-right: 10%;
    }
    #leftdots, #rightdots{
        display: none;
    }
    .offers{
        margin-top: 0;
        display: block;
        margin-bottom: 50px;
    }
    #training, #internship, #talent{
        margin-top: 3%;
        margin-left: 0;
        margin-bottom: 5%;
        margin-right: 10%;
        width: 93%;
        padding: 25px;
        padding-bottom: 100px;
        font-size: 25px;
    }
    #train-img, #intern-img, #talent-img{
        width: 20%;
    }
    .team3{
        margin-left: 10px;
        margin-right: 10px;
        width: 90%;
    }
    #team3logo{
        margin-left: 0%;
        margin-top: -70px;
        width: 40%;
    }
    .fb, .tw, .ig, .linkd{
      padding-right: 10px;
    }
    footer hr{
        width: 80%;
    }
}